// TailwindCSS
@tailwind base;

@tailwind components;

@tailwind utilities;

html,
body {
  background: #202023;
  color: #fff;
  user-select: none;
}

.container-lg {
  max-width: 1024px;
}

.bg-hh {
  background: #202023;
}

.bg-chakra {
  width: 100%;
  background: #20202380;
  z-index: 1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.h-card {
  height: 120px;
}

@media (max-width: 767px) {
  .sm-breakpoint {
    display: none;
  }
}

@media (max-width: 312px) {
  .w-312 {
    display: none;
  }
}